#jb-container {
        width: 90%;
        margin: 0px auto;
        margin-top: 100px;
        padding: 20px;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
        display: inline-block;
      }
      #jb-header {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #bcbcbc;
      }
      #jb-content {
        width: 75%;
        padding: 20px;
        margin-bottom: 20px;
        float: left;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
      }
      #jb-sidebar {
        width: 24%;
        padding: 20px;
        margin-bottom: 20px;
        float: right;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
      }
      #jb-footer {
        clear: both;
        padding: 20px;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
      }

@media screen and (max-width:480px) {
        #jb-container {
          width: auto;
        }
        #jb-content {
          float: none;
          width: auto;
        }
        #jb-sidebar {
          float: none;
          width: auto;
        }
      }

#ctfform
{
    width: 700px auto;
	margin-top: 50px;
	text-align: center;
	position: relative;
}

#ctfform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding-top: 20px;
    padding-bottom: 20px;
	box-sizing: border-box;
	margin-bottom: 50px;
    position: relative;	
	/*stacking fieldsets above each other*/

}

#ctfform input, button
{
    background: white;
    padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	font-family: montserrat;
    display: inline-block;
    float: left;
    margin-left: 12%;
 
}

button
{
    width: 20%;
    margin-top: 40px;
}

#ctfform input
{
    width: 75%;
}

#ctfform button
{
    border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding-top: 20px;
    padding-bottom: 20px;
}


